asgiref==3.4.1
distlib==0.3.4
dj-database-url==0.5.0
Django>=4.0.3,<4.1
psycopg2>=2.8.6,<2.9
uWSGI>=2.0.19.1,<2.1
django-heroku==0.3.1
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
filelock==3.4.2
Pillow>=8.0.0,<9.0.1
platformdirs==2.4.1
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
virtualenv==20.12.0
whitenoise==6.0.0