{% load widget_tweaks %}

<form method="post" action="/delete-excercise/{{excercise.id}}" class="js-excercise-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Delete excercise</h4>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to delete excercise {{excercise.name}}</p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>
</form>

