                        {% for excercise in excercises %}

                          <tr>
                            <td class="py-1">
                              {{excercise.name}}
                            </td>
                            <td> {{excercise.rep}} </td>
                            <td>
                              {{excercise.weight}} kg
                            </td>
                            <td> {{excercise.workout.category|title}} </td>
                           <td> {{excercise.workout.date}} </td>


                            <td> <button class="badge badge-info js-update-excercise" data-url="{% url 'update-excercise' excercise.id %}"  >Update</button> </td>
                            <td> <button class="badge badge-danger js-delete-excercise" data-url="{% url 'delete-excercise' excercise.id %}">Delete</button></td>

                          </tr>
                        {% endfor %}
