{% extends 'main.html' %}
{% load static %}
{% block content %}


<main class="update-account layout">
  <div class="card">
    <div class="layout__box" style="margin-left:10vw;margin-right:10vw;margin-top:5vh;margin-bottom:5vh;">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Edit your profile</h3>
        </div>
      </div>

      <div class="layout__body" >
        <center>
        <div class="preview-thumbnail" >
                          <img src="{{request.user.profile.avatar.url}}" onerror="if (this.src != 'error.jpg') this.src = '{% static 'images/avatar.svg' %}';" alt="image" class="rounded-circle" style="height:150px;width:150px;">
                        </div>

          </center>
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for field in form %}
          <div class="form__group">
            <label for="profile_pic" value={{field.label}}>{{field.label}}</label>
            {{field}}
          </div>
          {% endfor %}


          <center>
            <div class="form__action">
            <button class="btn btn-primary" type="submit">Update</button>
          </div>
          </center>
        </form>
      </div>
    </div>
  </div>

</main>

{% endblock content %}