<div class="activities">
    <div class="activities__header">
        <h2>Records</h2>
    </div>
    {% for record in records %}
    <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">
            <a href="" class="roomListRoom__author">
                <div class="avatar avatar--small">
                    <img src="{{record.workout.user.profile.avatar.url}}" />
                </div>
                <p>
                    <span>by {{record.workout.user.username}}</span>
                </p>
            </a>



        </div>
        <div class="activities__boxContent">
            <p>{{record}}<a href=""></a></p>
            <span></span>
            <div class="activities__boxRoomContent">
                <p>{{record.weight}} kg for {{record.rep}} reps</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>